* {
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    /* background-color: #277f95; */
}

.submenu-footer{
 display: inline;
top:5px;
text-align: center;
 /* left: 25%; */

}
.title-submenu a{
    font-size: 18px;
    background-color: #fff;
}   


hr {
    width: 150px;
    position: relative;
    display:inline-block;
}

.text-content {
    text-align: center;
    margin-top:60px;
    font-size: medium;
}